<div class="card text-bg-primary">
    <div class="card-body">
      <h5 class="card-title">Name of the country</h5>
    </div>
</div>

<ngx-charts-line-chart
  [results]="line_data$ | async"
  [view]="[1200,500]"
  [xAxis]="true"
  [yAxis]="true"
  [legend]="true"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  >
</ngx-charts-line-chart>
<hr>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Number of JOs:</h5>
        <p class="card-text"> {{numberJOs$ | async}} </p>
      </div>
    </div>
  </div>

<p *ngIf="country">{{country}}</p>


<button type="button" routerLink="" class="btn btn-dark">Back</button>

