<h2>Olympic games</h2>
<hr />

<p class="lead">You can find here informations about olympic medals from several countries.</p>

<!-- <p>{{ (olympics$ | async)?.length }} data loaded</p> -->
<p>Number of JOs: {{testData.length}}</p>
<p>Number of countries: {{testData.length}}</p>
<h3 >Medals per country</h3>
<ngx-charts-pie-chart
  [results]=  "testData"
  [legend]="true"
  [legendTitle]="'Medals per Country'"
  [view]="[1000,500]"
  [labels]="true" >
</ngx-charts-pie-chart>
<!-- *ngIf="olympics$ | async as surveyData" -->