<!-- <p>{{ (olympics$ | async)?.length }} data loaded</p> -->

<div class="card text-bg-primary">
  <div class="card-body">
    <h5 class="card-title">Medals per country</h5>
  </div>
</div>

<hr />
<p class="lead">You can find here informations about olympic medals from several countries.</p>
<hr />

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Number of JOs:</h5>
        <p class="card-text">{{1}}</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Number of countries: </h5>
        <p class="card-text">{{1}}</p>
      </div>
    </div>
  </div>
</div>

<ngx-charts-pie-chart 
  [results]="pie_data$ | async"
  [legend]="true"
  [legendTitle]="'Medals per Country'"
  [view]="[1000,500]"
  [labels]="true" 
  (select)="onSelect($event)"
  (activate)="onActivate()"
  >
</ngx-charts-pie-chart>
